%h3="Code Challenge"
%strong="Description:"
%em=@codechallenge.description

.codechallenge-form
  = form_for(@codechallenge, :url => codechallenge_path(@codechallenge), html: { role: 'form' }) do |f|
    =text_area_tag "codechallenge_attempt", @codechallenge.problem, :rows => 15, :style => "width: 100%"
    - if @execute_result.present?
      .result
        %pre=@execute_result.html_safe
    %br
    .pull-right
      =f.submit "Submit", class: 'btn btn-primary btn-lg'

%script
  $('#codechallenge_attempt').ace({ theme: 'twilight', lang: 'ruby' })
